body {
  background-color: rgba(118,117,128,0.1);
  box-sizing: border-box;
  color: rgba(145,145,145,0.7);
  font:0.85em/1.3 Arial, sans-serif;
}

.ba-wrapper {
  width: 100%;
  padding-top: 50px;
}
.ba-form {
  width: 80%;
  position: relative;
  margin: 0 auto;
}

.ba-inp {
  width: 100%;
  padding: 0 80px 0 10px;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: 7em;
  color: #ec5a62;
  font-weight: 700;
}

.ba-inp:focus,
.ba-sumbit:focus {
  outline: none;
}
input::placeholder {
  font-size: 1em;
  font-weight: 700;
  color: #c2c2c2;
}

.ba-sumbit {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0;
  cursor: pointer;
  top: 50%;
  overflow: hidden;
  background: transparent url(../images/лупа.svg) no-repeat center center;
  border: none;
  transition: transform 0.3s;
  transform: translate3d(0,-30%,0) scale(1);
  transform-origin: 100% 50%;
}

.ba-sumbit:hover {
  transform: translate3d(0,-50%,0) scale(1.1);
}
.ba-list li,
.ba-list a {
  list-style: none;
  text-decoration: none;
}
.content {
  width: 100%;
  margin-top: 50px;
  font-size: 0;
  padding: 0 10%;
}
.ba-title {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 800;
  color: #c2c2c2;
}
.ba-main  {
  width: 30%;
  display: inline-block;
  font-size: 1rem;
  padding: 0 0 6em;
}
.ba-list li {
  width: 70%;
}
.ba-list {
  padding: 0;
  margin: 0;
}
.ba-list a {
  padding: 0.75em;
  display: block;
  margin:  0.3em 0;
  cursor: pointer;
  background: rgba(118,117,128,0.05);
  color: rgba(145,145,145,0.7);
  border-radius: 5px;
  transition: all ease .3s;
}

.ba-list a:hover {
  color: #EC5A62;
}
.ba-list a:hover,
.ba-list a:focus {
  background: rgba(118,117,128,0.1);
}
.ba-list img {
	display: inline-block;
	width: 50px;
	margin: 0 10px 0 0;
  vertical-align: middle;
  border-radius: 50%;
}
.ba-list h3 {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.85em;
  margin: 0 0 0 0; 
  color: inherit;
  width: calc(100% - 70px);
}
.ba-list a:hover {
  font-size: 1.3em;
}
.ba-list a:hover,
.ba-list a:focus {
  background: rgba(118,117,128,0.1);
}

@media screen and (max-width: 850px) {
  .ba-inp {
    padding: 0 40px 0 10px;
    font-size: 2em;
    transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);
  }
  .ba-main {
    width: 100%;
    padding: 0 0 2em;
  }
  .ba-sbmit {
    transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
  }
}


